h1
{
    color: red;
    text-transform: uppercase;
    letter-spacing: 5px;
}
h1#headone{
    @extend h1;
    background-color: rebeccapurple;
 
}
h2{
    text-decoration: underline;
}
h2#headtwo{
    @extend h2;
    background-color: sandybrown ;
}
h3#headthree{
    @extend h1;
    @extend h2;
    font-style: italic;
}